<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <script src="jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="index.js"></script>
</head>

<body>
    <form action="/save/">
        <input type="text" name="name" value="Ivan" />
        <select name="role">
            <option>User</option>
            <option>Admin</option>
        </select>
        <input type="submit" />
    </form>
    <input type="text" class="inputNotify">
    <button class="buttonNotify">Notify</button>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo maiores sint dolorem itaque, laudantium ut tempora facere quos alias aut eaque incidunt odio cum expedita reiciendis aspernatur, nisi porro aliquam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptate, assumenda iure possimus eos pariatur dolorem quis quaerat nisi vel commodi minima dolores maiores tempore consequuntur esse error voluptatum quo!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem amet non culpa, corporis minus et, laborum ab perspiciatis dolore, excepturi quae enim quidem veritatis ipsa laudantium natus porro accusantium sit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam praesentium aspernatur saepe mollitia iure et! Magni dolores nihil, repellendus nesciunt quibusdam numquam exercitationem nam atque dicta veritatis incidunt, dolore vitae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab blanditiis, laboriosam praesentium quis aperiam omnis expedita porro unde placeat! Placeat tenetur expedita cupiditate ex non, voluptate, cum sunt aspernatur totam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ab incidunt nobis nesciunt maxime cupiditate, molestiae porro iusto aspernatur nam temporibus velit qui nihil totam, unde laborum consequatur blanditiis explicabo?</p>
    <footer>
        <a class="notifyBox" href="/notify/"></div>
    </footer>
</body>

</html>
